.light-theme {
    color: #000000;
    background: #FCD549;
  }

  body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;
  }
  
  .light-theme {
	--bg: var(--green);
	--fontColor: var(--black);
	--btnBg: var(--black);
	--btnFontColor: var(--white1);
  }
  .dark-theme {
	--bg: var(--black);
	--fontColor: var(--green);
	--btnBg: var(--white1);
	--btnFontColor: var(--black);;
  }

  .e7_5 { 
	width:358px;
	height:251px;
	position:absolute;
}
.e7_2 { 
	color:rgba(0, 0, 0, 1);
	width:358px;
	height:40px;
	position:absolute;
	left: 850px;
	top:225px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e7_3 { 
	color:rgba(0, 0, 0, 1);
	width:358px;
	height:42px;
	position:absolute;
	left: 850px;
	top:375px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e7_4 { 
	color:rgba(0, 0, 0, 1);
	width:358px;
	height:59px;
	position:absolute;
	left:850px;
	top:525px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}

.e3_11 { 
	width:1200px;
	height:667px;
	position:absolute;
}
.e1_4 { 
	width:640px;
	height:360px;
	position:absolute;
	left: 58px;px;
	top:137px;
	background-image:url(images/saul_2000_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_9 { 
	background: color #000000;;
	width:215px;
	height:65px;
	position:absolute;
	left:139px;
	top:581px;
}
.e3_10 { 
	background: color #000000;;
	width:232px;
	height:74px;
	position:absolute;
	left:809px;
	top:581px;
}
.e2_7 { 
	color:#000000;
	width:383px;
	height:61px;
	position:absolute;
	left:55px;
	top:594px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e1_5 { 
	color:#000000;
	width:1200px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:60px;
	letter-spacing:0;
}
.e3_8 { 
	color:#000000;
	width:373px;
	height:71px;
	position:absolute;
	left:734px;
	top:596px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
